<h1>Your Favorite Songs</h1>
<hr>
<br>
    <% @songs.each do |s| %>
        <p><a href="/songs/<%= s.id %>"><%= s.title %> by <%= s.artist %> 
        <%= s.album %>
        <%= s.genre %>
        <%= s.release_date %></a>
        </p>

    <%end%>
<br>
<br>
<br>

<a href="/songs/new"><button>Add Song</button></a>
<br>
<br>
<br>
<br>
<br>
<a href="/logout"><button>Logout</button></a>

#button "Add New Song" that links to "/songs/new"
#button "Logout" that links to "/logout"
