<h1>Your Favorite Songs</h1>
<hr>
<br>
    <% @songs.each do |s| %>
        <p><a href="/songs/<%= s.id %>"><%= s.title %> by <%= s.artist %> 
        <%= s.album %>
        <%= s.genre %>
        <%= s.release_date %></a>
        </p>

    <%end%>
<br>
<br>
<br>

<a class="btn btn-outline-primary" href="/songs/new" role="button">Add Song</a>
<br>
<br>
<br>
<br>
<br>
<a href="/logout">Logout</a>

#button "Add New Song" that links to "/songs/new"
#button "Logout" that links to "/logout"
